*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(30,144,255);
    box-shadow: 2px 2px 10px rgba(0,191,255));
    color: white;
    background-color: rgba(30,144,255);
}

button:hover{
    background-color: rgb(0,191,255);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color: rgb(0,191,255); }

header{
    background-color: rgb(245,245,245);
    
}

header .logo {
    width: 180px; /* Tamaño deseado para el logo */
}

header .logo img {
    display: block; /* Asegura que la imagen se muestre como un bloque */
}


header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(0,191,255);
}

#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner h1{
    color: white;
}

#banner button{
    font-size: 1.75em;
}

#somos-datacount .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-servicios{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-servicios .container{
    padding: 150px 12px;
}

#nuestros-servicios h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-servicios p{
    display: none;
}

#nuestros-servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/front-end.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/full-stack.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/python.jpg");

}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #banner h1{
        font-size: 5em;
    }

    #somos-datacount .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-datacount .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-datacount h2{
        margin-top: 0px;
    }

    #somos-datacount .img-container{
        background-image: url("media/somos-datacount.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #nuestros-servicios .servicios{
        display: flex;
        justify-content: center;
    }

    #nuestros-servicios p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-servicios h2{
        font-size: 4em;
    }

    #nuestros-servicios h3{
        margin-top: 0;
    }

    #nuestros-servicios .servicio{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .servicio:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/automatizacion-reportes.jpg");

    }

    .servicio:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/inventarios.jpg");
    }

    .servicio:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/soporte-siaf-siga.jpg");

    }

    #caracteristicas{
        background-image: url("media/background-2.jpeg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}

header nav a:last-child button {
    font-size: 0.9em; /* Reducir el tamaño de fuente del botón */
    padding: 6px 16px; /* Reducir el relleno del botón */
}

.social-buttons {
    display: flex;
    align-items: center;
}

.social-icon {
    margin-right: 10px;
    text-decoration: none;
    color: black; /* Color predeterminado para los íconos */
    position: relative;
}

.social-icon .icon-text {
    display: none; /* Oculta el texto inicialmente */
    position: absolute;
    top: -20px; /* Ajusta la posición del texto */
    left: 50%; /* Centra el texto */
    transform: translateX(-50%);
    background-color: white; /* Fondo blanco para el texto */
    padding: 3px 6px; /* Espacio alrededor del texto */
    border-radius: 3px; /* Bordes redondeados */
    font-size: 12px; /* Tamaño de fuente del texto */
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.3s ease; /* Transición suave de la opacidad */
}

.social-icon:hover .icon-text {
    display: block; /* Muestra el texto al pasar el cursor sobre el ícono */
    opacity: 1; /* Hace que el texto sea visible */
}

/* Estilos para el ícono de robot */
.fa-robot:before {
    content: "\f544"; /* Código del ícono de robot en Font Awesome */
    font-family: "Font Awesome 5 Free"; /* Familia de fuentes de Font Awesome */
    font-weight: 900; /* Peso de la fuente */
}

.social-icon {
    margin-right: 1px;
    text-decoration: none;
    position: relative;
}

.icon-img {
    width: 30px; /* Ajusta el tamaño del icono según sea necesario */
    height: 30px; /* Ajusta el tamaño del icono según sea necesario */
}

.icon-text {
    display: none;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.social-icon:hover .icon-text {
    display: block;
    opacity: 1;
}

#blog {
    padding: 50px 0;
    background-color: #f8f9fa;
}

.blog-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Soporte para desplazamiento suave en dispositivos iOS */
}

.blog-card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
}

.blog-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.blog-card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.preview-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
	text-decoration: none;
    transition: background-color 0.3s;
}

.preview-button:hover {
    background-color: #0056b3;
}

/* Estilos para las flechas de navegación */
.nav-button {
    font-size: 24px;
    background: rgba(192, 192, 192, 0.5); /* Color plomo transparente */
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 50%; /* Forma circular */
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* CSS */
.nav-container {
    position: relative; /* Añade posición relativa para posicionar las flechas dentro de este contenedor */
}

.prev-button {
    left: 0; /* Posiciona la flecha previa a la izquierda */
}

.next-button {
    right: 0; /* Posiciona la flecha siguiente a la derecha */
}

.blog-card {
    /* Otros estilos de la tarjeta */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

.blog-card:hover {
    transform: scale(1.05); /* Aumenta el tamaño al pasar el cursor */
}

.boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366; /* Color de fondo de WhatsApp */
    border-radius: 50%;
    text-align: center;
    line-height: 60px; /* Centra verticalmente el contenido */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
    animation: palpitar 1s infinite alternate; /* Efecto de palpitar */
}

.boton-flotante img {
    width: 50px; /* Ajusta el tamaño del icono */
    height: 50px; /* Ajusta el tamaño del icono */
    vertical-align: middle; /* Alinea verticalmente el icono */
    animation: palpitar 1s infinite alternate; /* Efecto de palpitar */
}

/* Animación de palpitar */
@keyframes palpitar {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
iframe {
    width: 100%; /* Ajustar al ancho del contenedor padre */
    height: 500px; /* Altura fija o puedes ajustarla según sea necesario */
    border: none; /* Eliminar el borde del iframe */
}
.dashboard-preview {
    max-width: 300px; /* Ajusta este valor según el tamaño deseado */
    margin: auto; /* Centra la imagen horizontalmente */
}

.dashboard-image {
    width: 100%;
    height: auto;
}
.servicio {
    transition: transform 0.3s ease-in-out;
}

.servicio:hover {
    transform: scale(1.05);
}

.container {
    max-width: 90%; /* Cambia el porcentaje según lo prefieras */
    margin: 0 auto; /* Esto centra el contenedor principal horizontalmente */
    padding: 20px;
}

#descripcion-servicios {
    max-width: 90%; /* Cambia el porcentaje según lo prefieras */
    margin: 0 auto; /* Esto centra la descripción de servicios horizontalmente */
}

.embed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio entre el PDF y la descripción de servicios */
}

.embed-container embed {
    max-width: 100%; /* El PDF ocupará todo el ancho disponible */
    height: auto; /* El alto del PDF se ajustará automáticamente */
}

/* Media query para ajustar estilos en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    #descripcion-servicios {
        font-size: 14px;
    }
}

#dynamic-text {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    opacity: 0;
    animation: fade-in 1s forwards, blink 5s steps(5, start) infinite;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

.novedades {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    position: fixed; /* Posición fija en la parte superior */
    width: 100%; /* Ancho completo */
    top: -100px; /* Comienza oculto fuera de la pantalla */
    left: 0;
    z-index: 1000;
    transition: top 0.5s ease-in-out; /* Transición suave al mostrar */
    font-size: 16px; /* Tamaño del texto */
    font-family: 'Roboto', sans-serif; /* Fuente del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
	height: 80px; /* Altura del anuncio */
}

.novedades.show {
    top: 0; /* Muestra el anuncio moviéndolo hacia arriba */
}

/* Ajuste para el contenido principal */
body.show-novedades {
    margin-top: 60px; /* Ajuste según el tamaño del anuncio */
}

.futuristic-button {
    position: relative;
    display: inline-block;
    background: linear-gradient(45deg, #00f260, #0575e6);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    text-decoration: none; /* Asegura que no haya subrayado en el botón */
    line-height: 1; /* Ajusta la altura de línea */
    text-align: center; /* Centra el texto horizontalmente */
    box-sizing: border-box; /* Asegura que el padding sea considerado en el tamaño del botón */
}

.futuristic-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    animation: wave 3s linear infinite;
}

@keyframes wave {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

.futuristic-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.futuristic-button:hover::after {
    bottom: -10px;
    background-color: #FFFFFF; 
}

.data-svg {
    width: 28px;
    height: auto;
    fill: transparent;
    stroke: #FFFFFF;
    stroke-width: 2;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.futuristic-button:hover .data-svg circle,
.futuristic-button:hover .data-svg line {
    opacity: 0.6;
}

.futuristic-button:hover .data-svg circle:nth-child(1) {
    transform: translate(-10px, -10px);
}

.futuristic-button:hover .data-svg circle:nth-child(2) {
    transform: translate(10px, -10px);
}

.futuristic-button:hover .data-svg circle:nth-child(3) {
    transform: translate(10px, 10px);
}

.futuristic-button:hover .data-svg circle:nth-child(4) {
    transform: translate(-10px, 10px);
}

.futuristic-button:hover .data-svg line:nth-child(5) {
    transform: rotate(90deg);
}

.futuristic-button:hover {
    box-shadow: 0 0 30px rgba(0, 242, 96, 0.7), 0 0 30px rgba(5, 117, 230, 0.7);
}

.futuristic-button:active {
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

/* Estilos para la sección de suscripción */
.subscribe-section {
    background-color: #f5f5f5;
    padding: 40px 0;
    text-align: center;
}

.subscribe-section h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.subscribe-form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.subscribe-form-container form {
    display: flex;
    flex-direction: column;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
}

.form-group label {
    position: absolute;
    top: 0;
    left: 10px;
    color: #666;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease-out;
}

.form-group input[type="text"]:focus + label,
.form-group input[type="email"]:focus + label,
.form-group input[type="text"]:not(:placeholder-shown) + label,
.form-group input[type="email"]:not(:placeholder-shown) + label {
    top: -20px;
    left: 10px;
    font-size: 12px;
    color: #007bff;
}

.form-group small.form-text {
    display: block;
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.validation-message {
    display: none;
    background: linear-gradient(45deg, #00f260, #0575e6);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    transition: opacity 0.5s ease;
    position: relative;
}

.validation-message.show {
    display: block;
    opacity: 1;
}

.validation-message.hide {
    opacity: 0;
}
